* {
  text-align: center;
  font-family: "Inter", sans-serif;
}
body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}
article {
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
.download {
  margin-top: 2rem;
  display: inline-block;
  background: #5871ef;
  border-radius: 4px;
  font-size: 0.875;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: white;
}
.download:hover {
  background: #6b83ed;
}
.download:visited {
  color: white;
}
ul {
  padding: 0;
}
li {
  display: inline;
  margin-right: 15px;
  list-style: none;
}
a:visited {
  color: black;
}
.screenshot {
  max-width: 100%;
  width: 600px;
}
footer {
  font-size: 0.875rem;
  margin-top: 2rem;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #282a36;
    color: white;
  }
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
}
