@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(./assets/fonts/Inter-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(./assets/fonts/Inter-Bold.woff) format("woff");
  }
  @font-face {
    font-family: FiraCode;
    font-weight: 400;
    src: url(./assets/fonts/FiraCode-Regular.woff) format("woff");
  }
}

::-webkit-scrollbar {
  background-color: #e4e4e4;
  width: 0.675rem;
}
::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
}

.view {
  @apply bg-white-100 flex-1 overflow-y-auto pl-7 pr-2 py-5 text-xl;
}

.link {
  @apply flex w-14 h-15 text-gray-400 border-white-100 hover:text-gray-900 border-l-3 justify-center items-center focus:outline-none focus:text-gray-900;
}
.link-active {
  @apply text-gray-900 border-gray-900;
}
