name: build

on:
  push:
    branches:
      - master
    paths-ignore:
      - "screenshots/**"
      - "README.md"
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js and Yarn
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: yarn

      - name: Bundle with Vite and esbuild
        run: yarn run prod

      - name: Build & Release Electron app
        env:
          GH_TOKEN: ${{ secrets.gh_token }}
        run: yarn run release
